name: Page deploy testing

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-index:
    name: Prepare index page
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Build index page
        uses: actions/jekyll-build-pages@v1
        with:
          source: general-index
          destination: _site
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: index
          path: _site
          retention-days: 1

  build-doxygen:
    name: Build - Doxygen
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment
        run: sudo apt install -y doxygen
      - name: Build
        run: |
          cd c-cpp
          doxygen
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-doxygen
          path: c-cpp/doxygen/html/
          retention-days: 1

  build-jsdoc:
    name: Build - JSDoc
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment (1)
        uses: actions/setup-node@v6
      - name: Setup environment (2)
        run: sudo npm install -g jsdoc
      - name: Build
        run: |
          cd javascript
          jsdoc -p -d jsdoc/ index.md ./
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-jsdoc
          path: javascript/jsdoc/
          retention-days: 1

  build-denodoc:
    name: Build - Deno Doc
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment
        uses: denoland/setup-deno@v2
      - name: Build
        run: |
          cd javascript
          deno doc --html --name="My Project" --output="denodoc" --private *.js
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-denodoc
          path: javascript/denodoc/
          retention-days: 1

  build-sphinx:
    name: Build - Sphinx
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment (1)
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Setup environment (2)
        run: pip install sphinx
      - name: Build
        run: |
          cd python/sphinx
          sphinx-apidoc -f -P -o ./ ../
          sphinx-build ./ ./_build/
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-sphinx
          path: python/sphinx/_build/
          retention-days: 1

  prepare-artifact:
    name: Setup artifact
    runs-on: ubuntu-latest
    needs: [build-index, build-doxygen, build-jsdoc, build-denodoc, build-sphinx]
    steps:
      - name: Place artifact - index
        uses: actions/download-artifact@v7
        with:
          name: index
          path: .
      - name: Place artifact - Doxygen
        uses: actions/download-artifact@v7
        with:
          name: build-doxygen
          path: doxygen
      - name: Place artifact - JSDoc
        uses: actions/download-artifact@v7
        with:
          name: build-jsdoc
          path: jsdoc
      - name: Place artifact - Deno Doc
        uses: actions/download-artifact@v7
        with:
          name: build-denodoc
          path: denodoc
      - name: Place artifact - Sphinx
        uses: actions/download-artifact@v7
        with:
          name: build-sphinx
          path: sphinx
      - name: Configure pages
        uses: actions/configure-pages@v5
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: .
          retention-days: 1

  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [prepare-artifact]
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
