name: Page deploy testing

on:
  push:
    branches: '**'
  workflow_dispatch:

jobs:
  build-index:
    name: Prepare index page
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Build index page
        uses: actions/jekyll-build-pages@v1
        with:
          source: general-index
          destination: _site
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: index
          path: _site
          retention-days: 1

  build-doxygen:
    name: Build - Doxygen
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Build
        run: |
          cd c-cpp
          docker run --rm -v ./:/github/workspace -w /github/workspace ghcr.io/doxygen/doxygen:Release_1_15_0
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-doxygen
          path: c-cpp/doxygen/html/
          retention-days: 1

  build-jsdoc:
    name: Build - JSDoc
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment (1)
        uses: actions/setup-node@v6
      - name: Setup environment (2)
        run: sudo npm install -g jsdoc
      - name: Build
        run: |
          cd javascript
          jsdoc -p -d jsdoc/ index.md ./
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-jsdoc
          path: javascript/jsdoc/
          retention-days: 1

  build-denodoc:
    name: Build - Deno Doc
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment
        uses: denoland/setup-deno@v2
      - name: Build
        run: |
          cd javascript
          deno doc --html --name="My Project" --output="denodoc" --private *.js
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-denodoc
          path: javascript/denodoc/
          retention-days: 1

  build-sphinx:
    name: Build - Sphinx
    runs-on: ubuntu-latest
    steps:
      - name: Source checkout
        uses: actions/checkout@v6
      - name: Setup environment (1)
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Setup environment (2)
        run: pip install sphinx
      - name: Build
        run: |
          cd python/sphinx
          sphinx-apidoc -f -P -o ./ ../
          sphinx-build ./ ./_build/
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-sphinx
          path: python/sphinx/_build/
          retention-days: 1

  prepare-artifact:
    name: Setup artifact
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      deployments: write
    needs: [build-index, build-doxygen, build-jsdoc, build-denodoc, build-sphinx]
    steps:
      - name: Place artifact - index
        uses: actions/download-artifact@v7
        with:
          name: index
          path: .
      - name: Place artifact - Doxygen
        uses: actions/download-artifact@v7
        with:
          name: build-doxygen
          path: doxygen
      - name: Place artifact - JSDoc
        uses: actions/download-artifact@v7
        with:
          name: build-jsdoc
          path: jsdoc
      - name: Place artifact - Deno Doc
        uses: actions/download-artifact@v7
        with:
          name: build-denodoc
          path: denodoc
      - name: Place artifact - Sphinx
        uses: actions/download-artifact@v7
        with:
          name: build-sphinx
          path: sphinx
      - name: Upload finally artifact
        uses: actions/upload-artifact@v6
        with:
          name: finally-artifact
          path: .
          retention-days: 1

      # Deploy for main branch (as production) and pull request (as preview)
      - name: Deploy to Cloudflare Pages
        if: github.ref_name == 'main' || github.event_name == 'pull_request'
        id: deploy-step
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: pages deploy . --project-name='docs-gen-samples'

      # Report a preview URL
      - name: Report preview URL
        if: github.event_name == 'pull_request'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment ${{ github.event.pull_request.html_url }} -F - << EOF
          Preview ready:

          <${{ steps.deploy-step.outputs.deployment-url }}>
          EOF
